html {
    font-size: 1vw;
    font-family: Quicksand, sans-serif;
}

h1 {
    font-size: 6rem;
    font-family: Comfortaa, sans-serif;
}

p {
    font-size: 2rem;
}

h2 {
    font-size: 3rem;
    text-decoration: underline overline coral;
    /* text-decoration-line: underline;
    text-decoration-color: coral; */
}

section {
    font-size: 1.5rem;
}
/* 
Absolute Unit
px - pixels
Q. isn't px not useful for the responsive design?
Relative unit
vw - viewport width
vh - viewport height
em - Similar to vw/vh but represents size of letter 'M'. Size is based on the whatever the default size of the parent element
rem - root em: 
*/

a {
    text-decoration: none;
}

h3 {
    font-size: 2rem;
    text-transform: capitalize;
    text-shadow: 5px 5px teal;
}